<!-- app/views/home/index.html.erb -->

<header ng-controller='HeaderCtrl'>
  AngularCasts 

	<span class='login' ng-hide='isLoggedIn' ng-click='showLoginForm()'>
		Login
	</span>
	
	<span class='login'  ng-show='isLoggedIn' ng-click='destroySession()'>
		Logout
	</span>
</header>


<div ng-show='isLoginFormShown'>
	<!-- login form -->


	<div id="login-form-container"  style="text-align:center;" ng-controller="LoginCtrl" >
		<h2>Login FORM</h2>
		
		<div     >
		
	   	<form name="sessionForm" ng-submit="submit()">
			  <fieldset>
			 
			    <label>
			      <span>Email:</span>
			      <input
			        type="text"
			        ng-model="email"
			        required
			        autofocus
			        />
			    </label> 
					
					<br />
			
					<label>
			      <span>Password:</span>
			      <input
			        type="password"
			        ng-model="password"
			        required
			        />
			    </label>
			
			    <div class="formFooter">
			      <button type="submit" class="main-button" 
								ng-click="createSession()">Login</button>
			      <p ng-click="cancelForm()">Cancel</p>
			    </div>

			  </fieldset>
			</form>
	  </div>
  </div>

</div>



<!-- protected content -->
<div ng-show='isProtectedContentShown'>
	<div ng-controller="SubRedditsCtrl">
		
		<table id='subreddit-control' ng-show='isLoggedIn'>
			<tr>
				<td ng-click='showForm()'>
					Add
	
				</td>
		
				<td>
					<span ng-show='anySelectedObject()' ng-click='destroy()'>Delete</span>
				</td>
			</tr>
		</table>
	
	  <div  ng-hide="subRedditCreateMode" id="subreddit-list-container"  >
		
	    <ul>
	      <li ng-repeat="subReddit in subReddits" >
	        <h3  ng-click='selectSubReddit(subReddit)' ng-class='isSelected(subReddit)'>
						{{subReddit.name}}  
					</h3>
	      </li>
	    </ul>
	  </div>
	
		<div  ng-show="subRedditCreateMode" id="subreddit-list-container"  >
		
	   	<form name="employeeForm" ng-submit="submit()">
			  <fieldset>
			 
			    <label>
			      <span>SubRedditName:</span>
			      <input
			        type="text"
			        ng-model="newSubReddit.name"
			        required
			        autofocus
			        />
			    </label> 

			    

			    <div class="formFooter">
			    
			      <button type="submit" class="main-button" 
								ng-click="createSubReddit(newSubReddit)" >Add</button>
			      <p  ng-click="cancelForm()">Cancel</p>
			    </div>

			  </fieldset>
			</form>
	  </div>
	
	</div>

	<div id="post-viewer-container" ng-controller="PostViewerCtrl" style="text-align:center;" >
		<h2>{{selectedPost.title}}</h2>
		<h3 ng-show='noImages()'>No IMAGES</h3>
    <ul>
      <li ng-repeat="picture in pictureArray" >
  			<img style='width:50%;' ng-src="{{picture}}" />
      </li>
    </ul>
  </div>

  <div id="post-list-container" ng-controller="PostsCtrl" >
	
    <!-- This is where we are showing the shite -->
		<ul>
      <li ng-repeat="post in posts" >
        <h3 ng-click='showPictures(post)' ng-class='isSelected(post)'>
					{{post.title}}  
				</h3>
      </li>
    </ul>
  </div>
</div>